body {
  background-color: hsl(220, 60%, 50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto  50px;
  padding: 1.5rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: calc(100% - 100px);
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}